# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# eclipse #
target/
.settings/
.project
.classpath

# Project-specific ignores #
config/
backup/
logs/
templates/
properties/
test/