<beans:beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
	
	<aop:aspectj-autoproxy />
	<context:annotation-config />
	<context:component-scan base-package="com.automationtools"/>
	<context:property-placeholder location="classpath:/config/config.properties"/>
	
	<beans:import resource="classpath:config-template.xml"/>
	
	<!-- 
		Used for resolving messages, with support for the parameterization and internationalization of such messages.
	-->
	<beans:bean id="messageSource" class="com.automationtools.web.ReloadableResourceBundleMessageSource">
		<beans:property name="fileEncodings" value="UTF-8" />
		<beans:property name="defaultEncoding" value="UTF-8" />
		<beans:property name="basenames">
			<beans:list>
				<beans:value>classpath:messages</beans:value>
			</beans:list>
		</beans:property>
	</beans:bean>
	
</beans:beans>