.superAlignment {
	vertical-align: super;
}

.topAlignment {
	vertical-align: top;
}

.middleAlignment {
	vertical-align: middle;
}

.endTextAlignment {
	text-align: end;
}

.centerTextAlignment {
	text-align: center;
}

.startTextAlignment {
	text-align: start;
}

.transparentBackground {
	background-color: transparent !important;
}

.whiteSpace {
 white-space: pre-wrap;
}

.wordWrap {
 white-space: pre-wrap;
 word-wrap: break-word;
 word-break: break-all;
}

.hide {
	display: none;
	visibility: hidden;
}

.disabledBoolean {
 opacity: 0.8 !important;
}

.logs {
	font-family: Rajdhani-SemiBold !important;
}

.textarea {
 line-height: 20px;
 padding: 2px 10px;
}

.ellipsis {
	overflow: hidden; 
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ui-table-icon img {
 max-width: 11px;
 max-height: 11px;
 width: auto;
 height: auto;
 margin-right: 3px;
}

/* 
	Primefaces overrides
*/
.ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
		font-family: 'Ubuntu-Light' !important;
}