@font-face {
 font-family: "Rajdhani-SemiBold";
 src: url('#{resource["fonts/Rajdhani-SemiBold.ttf"]}');
}

@font-face {
 font-family: "Rajdhani-Regular";
 src: url('#{resource["fonts/Rajdhani-Regular.ttf"]}');
}

@font-face {
 font-family: "Rajdhani-Light";
 src: url('#{resource["fonts/Rajdhani-Light.ttf"]}');
}

@font-face {
 font-family: "Ubuntu-Bold";
 src: url('#{resource["fonts/Ubuntu-Bold.ttf"]}');
}

@font-face {
 font-family: "Ubuntu-Light";
 src: url('#{resource["fonts/Ubuntu-Light.ttf"]}');
}

@font-face {
 font-family: "Ubuntu-Medium";
 src: url('#{resource["fonts/Ubuntu-Medium.ttf"]}');
}

@font-face {
 font-family: "Ubuntu-Regular";
 src: url('#{resource["fonts/Ubuntu-Regular.ttf"]}');
}