/* 
	This style sheet is primarily used by login.xhtml 
*/
* {
 font-family: SprintSansWeb, "Helvetica", "Arial Unicode MS", sans-serif;
 font-size: 11px;
 margin: 0;
}

.input {
 border: 1px solid #ECECEC;
 border-radius: 4px;
 padding: 6px 12px;
 margin: 5px 5px 5px 5px;
 width: 250px;
}

.login-card {
 background: #f6f6f6;
 width: 400px;
 display: inline-block;
 vertical-align: middle;
 line-height: normal;
 box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
 padding: 30px 10px 30px 10px;
}

.btn {
 color: black;
 background-color: #ffce0a;
 border-color: #ffce0a;
 display: inline-block;
 padding: 6px 12px;
 margin-bottom: 0;
 font-size: 12px;
 font-weight: 600;
 text-align: center;
 white-space: nowrap;
 vertical-align: middle;
 cursor: pointer;
 background-image: none;
 border: 1px solid transparent;
 border-radius: 4px;
 transition: all .2s ease-in-out
}

.btn:hover {
 color: white;
 background-color: #000;
}

.tooltip {
 padding: 0px !important;
}

.tooltip>div {
 margin: 0px !important;
 padding: 4px 5px !important;
}