#form\:resultsTable.ui-datatable table thead th, 
#form\:resultsTable.ui-datatable table tbody td,
#form\:resultsTable.ui-datatable table tfoot td, 
#form\:resultsTable.ui-datatable table tfoot th {
 border-style: none !important;
}

#form\:tabView\:allTestsTable.ui-datatable table thead th,
#form\:tabView\:allTestsTable.ui-datatable table tbody td,
#form\:tabView\:allTestsTable.ui-datatable table tfoot td,
#form\:tabView\:allTestsTable.ui-datatable table tfoot th {
}

#form\:tabView\:testGroupTree div.ui-treetable-header {
 padding: 0px !important;
}

#form\:tabView\:testGroupTree.ui-treetable tbody td {
 padding: 0.2em 0em !important;
}

.ui-datatable tbody td {
	padding: 2px 2px 2px 2px;
	vertical-align: middle;
}

.ui-datatable thead th {
	height: 24px;
	padding: 2px 4px 2px 2px;
}

.ui-datatable-header {
	padding: 0 !important;
}

.ui-datatable .ui-column-filter {
	display: inline;
	margin-left: 5px;
}

.ui-column-filter {
	display: none !important;
	visibility: hidden;
}

.ui-panelgrid .ui-panelgrid-cell {
	padding: 0px;
}

.ui-tabs .ui-tabs-panel {
	padding: 0.1em 0.1em !important;
}

.ui-panelgrid>*>tr, .ui-panelgrid .ui-panelgrid-cell {
	border: none !important;
}

.ui-panelgrid-content {
	background-color: transparent !important;
	border: 0px none !important;
}

.ui-panel .ui-panel-content {
	padding: 0.2em 0em !important;
}

.ui-tree {
	width: auto !important;
}
