/* 
	This style sheet is primarily used by scheduler.xhtml from secure folder
*/
#form\:jobsTablePanel.ui-panel .ui-panel-content {
 padding: 0 !important;
}

#form\:jobsTable.ui-datatable .ui-column-filter {
 display: none !important;
}

#form\:jobsTable.ui-datatable tbody td {
 padding: 2px 2px 2px 2px;
 vertical-align: middle;
}

#form\:jobsTable.ui-datatable thead th {
 height: 24px;
 padding: 2px 4px 2px 2px;
}

#form\:jobsTable.ui-datatable .ui-datatable-header, 
#form\:jobsTable.ui-datatable .ui-datatable-footer {
 padding: 0 !important;
}

#form\:jobsTable.ui-datatable .ui-column-filter {
 display: inline;
 margin-left: 5px;
}

#jobsTablePanel div.ui-panel-content {
 padding: 0px !important;
 padding-top: 2px !important;
}

#createJobForm\:createJobDetailsTable.ui-panelgrid .ui-panelgrid-cell,
#createJobForm\:createTriggerDetailsTable.ui-panelgrid .ui-panelgrid-cell {
 padding: 4px 4px;
}

#createJobForm\:createTriggerDetailsStartTable.ui-panelgrid .ui-panelgrid-cell,
#createJobForm\:createTriggerDetailsEndTable.ui-panelgrid .ui-panelgrid-cell,
#createJobForm\:triggerDetailsScheduleTab\:createTriggerDetailsRepeatCountTable.ui-panelgrid .ui-panelgrid-cell {
 padding: 0px !important;
}

#createJobForm\:triggerDetailsScheduleTab\:triggerHourlyTabTable.ui-panelgrid .ui-panelgrid-cell,
#createJobForm\:triggerDetailsScheduleTab\:triggerDailyTabTable.ui-panelgrid .ui-panelgrid-cell {
 padding: 4px 2px !important;
}

#createJobForm\:triggerDetailsScheduleTab\:triggerHourlyTab,
#createJobForm\:triggerDetailsScheduleTab\:triggerDailyTab {
 padding-left: 1px !important;
 padding-right: 1px !important;
}

#createJobForm\:triggerDetailsScheduleTab\:daytimeCalendar input {
 width: 153px;
}

#createJobForm\:descTable td.ui-panelgrid-cell {
 border-width: 0px;
 border-style: none;
 padding: 0px !important;
}

#createJobForm\:triggerDetailsScheduleTab\:dailyTimeCalendar input {
 width: 152px;
}

#createJobDialog div.ui-dialog-content {
 overflow: hidden;
}

#createJobForm\:createJobWizard li.ui-wizard-step-title {
 font-size: 15px;
}

#createJobForm>*>div.ui-messages-info, 
#createJobForm>*>div.ui-messages-warn,
#createJobForm>*>div.ui-messages-error, 
#createJobForm>*>div.ui-messages-fatal {
 margin: 1px 0px !important;
}

.tableLeftCol {
 width: 25%;
}

.tableRightCol {
 width: 75%;
}

.tableTooltipCol {
 width: 0px;
 padding: 0px !important;
}

.nav {
 padding-top: 7px;
 float: right;
}

.navButtons {
 margin-left: 3px;
}

.hidden {
 display: none;
}

.tooltip {
 padding: 0px !important;
}

.tooltip>div {
 margin: 0px !important;
 padding: 4px 5px !important;
}

.ui-panelgrid>*>tr, .ui-panelgrid .ui-panelgrid-cell {
 border: none !important;
}

#createJobForm\:triggerDetailsStartTable td,
#createJobForm\:triggerDetailsEndTable td,
#createJobForm\:triggerDetailsScheduleTab\:triggerDetailsRepeatCountTable td,
#createJobForm\:triggerDetailsScheduleTab\:triggerDetailsDailyIntervalTable td {
 padding: 0px !important;
}